<div class="parent">
  <div class ="controls">
    <h3>my parent component</h3>
  <div>
  <input [(ngModel)]=" parentTxtValue" type="text" class="form-control">
  <button (click)="onparentButtonClick()" type="button" class="btn btn-primary">parent click</button>
  <div class="txt">
    value of the child text box:{{childTextBoxValue}}
  </div>
  </div>
  <div class ="child">
    <h3>My Child Component</h3>
      <app-child [parentText]="parentTxtValue" [parentClick]="parentClick"
      (onTextFromChild)="updateInChildValue($event)"></app-child>
  </div>
  </div>